<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<a th:fragment="sort-link (sortBy)"
   th:href="@{/product(pageNumber=${products.number} + 1,
                pageSize=${param.pageSize},
                minFilter=${param.minFilter},
                maxFilter=${param.maxFilter},
                sortBy=${sortBy},
                sortDirection=${@sortingLinkService.getDirection(param.sortBy, param.sortDirection, sortBy)})}">
    <i th:if="${@sortingLinkService.getIcon(param.sortBy, param.sortDirection, sortBy)}"
       class="fa fa-sort-down"></i>
    <i th:unless="${@sortingLinkService.getIcon(param.sortBy, param.sortDirection, sortBy)}"
       class="fa fa-sort-up"></i>
</a>

<a th:fragment="page-link (pageNumber, linkTitle)"
        th:href="@{/product(pageNumber=${pageNumber},
                                pageSize=${param.pageSize},
                                minPrice=${param.minPrice},
                                maxPrice=${param.maxPrice},
                                sortBy=${param.sortBy},
                                sortDirection=${param.sortDirection})}"
        class="page-link">
        [[${linkTitle}]]
</a>

<td th:fragment="action_panel (id)">
    <a class="btn btn-success" th:href="@{/product/{id}(id = ${id})}">
        <i class="fas fa-edit"></i>
    </a>
    <form class="d-inline" th:method="delete" th:action="@{/product/delete/{id}(id = ${id})}">
        <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
    </form>
</td>

</html>